# Loneliness, Deprivation and Population Density


## Read in IMD and loneliness index data for England

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns

In [20]:
loneliness_imd = pd.read_csv('england/data_without_outliers.csv')

In [21]:
loneliness_imd.drop('Unnamed: 0', axis=1, inplace=True)
loneliness_imd.head()

,lsoa11,year,loneills,lsoa_code,lsoa_name,district_code,district_name,imd_score,imd_rank,imd_decile,...,indoor_sub_rank,indoor_sub_decile,outdoor_sub_score,outdoor_sub_rank,outdoor_sub_decile,total_population,aged_under_15_population,aged_16-59_population,aged_over_60_population,working_age_population
0,E01000017,2015,-0.972582,E01000017,Barking and Dagenham 009C,E09000002,Barking and Dagenham,40.563,4357.0,2.0,...,11830.0,4.0,0.525,8498.0,3.0,1622.0,409.0,991.0,222.0,957.00
1,E01000021,2015,-3.496225,E01000021,Barking and Dagenham 008A,E09000002,Barking and Dagenham,40.821,4273.0,2.0,...,3282.0,1.0,0.511,8670.0,3.0,1601.0,401.0,1021.0,179.0,1004.25
2,E01000025,2015,-0.555496,E01000025,Barking and Dagenham 008E,E09000002,Barking and Dagenham,35.995,5772.0,2.0,...,11134.0,4.0,0.574,7918.0,3.0,1602.0,385.0,1000.0,217.0,987.50
3,E01000027,2015,0.733600,E01000027,Barking and Dagenham 001A,E09000002,Barking and Dagenham,41.997,3924.0,2.0,...,16033.0,5.0,0.145,13786.0,5.0,1728.0,479.0,964.0,285.0,946.75
4,E01000031,2015,1.767929,E01000031,Barking and Dagenham 002A,E09000002,Barking and Dagenham,25.078,10820.0,4.0,...,13998.0,5.0,0.814,5475.0,2.0,1625.0,343.0,965.0,317.0,972.25

## introduce population density data

In [22]:
pop_density = pd.read_csv('england/Population_Density.csv')
pop_density = pop_density.rename(columns={'Code':'lsoa11'})

In [23]:
loneliness_imd.drop(columns='lsoa_code', inplace=True) #this data is duplicate

In [24]:
loneliness_imd2 = pd.merge(left=pop_density[['lsoa11', 'People per Sq Km' ]], right=loneliness_imd, on='lsoa11')

In [25]:
loneliness_imd2 = loneliness_imd2.rename(columns={'People per Sq Km': 'population_density'})

In [28]:
loneliness_imd2.head()

,lsoa11,population_density,year,loneills,lsoa_name,district_code,district_name,imd_score,imd_rank,imd_decile,...,indoor_sub_rank,indoor_sub_decile,outdoor_sub_score,outdoor_sub_rank,outdoor_sub_decile,total_population,aged_under_15_population,aged_16-59_population,aged_over_60_population,working_age_population
0,E01020636,"1,886",2015,0.651901,County Durham 001C,E06000047,County Durham,21.632,12979.0,4.0,...,32265.0,10.0,-1.482,31684.0,10.0,1704.0,306.0,956.0,442.0,976.50
1,E01020629,"3,270",2015,0.299419,County Durham 003C,E06000047,County Durham,19.084,14979.0,5.0,...,25589.0,8.0,-1.215,30432.0,10.0,1488.0,304.0,836.0,348.0,839.25
2,E01020655,242,2015,-0.231131,County Durham 003D,E06000047,County Durham,11.477,22411.0,7.0,...,29921.0,10.0,-1.748,32368.0,10.0,2039.0,333.0,1115.0,591.0,1142.50
3,E01020661,"2,193",2015,-1.047568,County Durham 004A,E06000047,County Durham,27.441,9495.0,3.0,...,19737.0,7.0,-0.446,22845.0,7.0,1841.0,316.0,1046.0,479.0,1073.50
4,E01020653,334,2015,0.588288,County Durham 006D,E06000047,County Durham,27.072,9682.0,3.0,...,28959.0,9.0,-1.269,30751.0,10.0,1541.0,281.0,858.0,402.0,861.00

In [29]:
# check shape
       #original.               #with population density
print(loneliness_imd2.shape , loneliness_imd.shape)

(4944, 60) (4944, 59)

In [38]:
#loneliness_imd also has population density column now :)

In [30]:
#save to csv
loneliness_imd2.to_csv('england/with_density_no_outliers.csv')